@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../img/arkaplan1.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;}

.baslik{
	font:bold 17px Georgia, "Times New Roman", Times, serif;
	background-color:rgba(0,204,153,1);
	height:30px;
	text-align:left;
	padding-top:10px;
	padding-left:30px;
	color:rgba(255,0,0,1);
	border-radius:5px;
	margin-bottom:150px;}
	
.giris_yazi{
	font:bold 14px Georgia, "Times New Roman", Times, serif;
	border-bottom:1px solid #00FFCC;
	height:25px;
	border-radius:2px;
	text-align:center;
	padding-top:10px;
	color:rgba(255,0,0,1);}
	
.input_yazi{
	font:bold 12px Georgia, "Times New Roman", Times, serif;	
	color:rgba(255,0,0,1);
	}
.footer{
	font:bold 14px Georgia, "Times New Roman", Times, serif;
	border-top:2px dotted #00FFCC;
	background-color:rgba(0,204,153,1);
	height:30px;
	text-align:right;
	padding-top:10px;
	padding-right:40px;
	color:rgba(255,0,0,1);
	margin-top:200px;}

.footer a{
	text-decoration:none;
	color:rgba(255,0,0,1);
	font:bold 12px Georgia, "Times New Roman", Times, serif;
	
}
.footer a:hover{
	text-decoration:underline;
	color:rgba(255,51,0,1);
	}
input {border-radius:5px;}

.mesaj{
		color:rgba(255,51,0,1);
		font:13px Georgia, "Times New Roman", Times, serif;
		padding-left:20px;}